// Colors
$pri-dark: #323232;
$pri-blue: #004892;
$pri-bright-blue: #0095ff;

$sec-silver: #afafaf;
$sec-dark-blue: #002f5f;
$sec-blue: #0065ad;

$tert-merc: #e1e1e1;
$quat-alabas: #fafafa;

$white: #ffffff;
